.DS_Store
__pycache__/
*.pyc
.venv_pycbc/
src/.ipynb_checkpoints/

outputs/data/*
outputs/logs/*
outputs/plots/*
outputs/reports/*
!outputs/data/.gitkeep
!outputs/logs/.gitkeep
!outputs/plots/.gitkeep
!outputs/reports/.gitkeep

# Strong scale benchmark outputs
strong_scale_test/results/
strong_scale_test/slurm_logs/*
!strong_scale_test/slurm_logs/.gitkeep
strong_scale_test/[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9][0-9][0-9]/
