.DS_Store
__pycache__/
*.pyc

outputs/data/
outputs/logs/
outputs/plots/
outputs/reports/*.csv
outputs/reports/*.png
!outputs/data/.gitkeep
!outputs/logs/.gitkeep
!outputs/plots/.gitkeep
!outputs/reports/.gitkeep
